#cover {
   
    /* background-size: cover; */
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

/* only used for background overlay not needed for centering */
form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
    border-radius: 10px;
}

/*  */
.thead-dark1 th {
    background-color: blue important!;
    color: white;
 
}